@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<SitecoreCookbook.Models.sitecore.templates.Coobook.Carousel_Slide>>
<div class="carousel-inner" role="listbox">
    @foreach (var item in Model)
    {
        <div>
            <a href="@item.Mapped_Link_Item.Url" title="@item.Title">
                @RenderImage(item, x => x.Image)
            </a>
        </div>
    }
</div>